<launch>

	<arg name="map_file" default="$(find turtlebotcity_maps)/maps/localization_map.yaml"/>

	<node pkg="tf" type="static_transform_publisher" name="map_link" args="0 0 0 0 0 0 /map /planner_map 100"/> 

  	<!-- Map server -->
  	<node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  	<node name="map_server2" pkg="map_server" type="map_server" args="$(find turtlebotcity_maps)/maps/up_left.yaml" >
			<param name="frame_id" value="planner_map" />
  	  <remap from="map" to="planner_map"/>
  	  <remap from="static_map" to="static_planner_map" />
  	</node>


	<include file="$(find turtlebotcity_maps)/launch/amcl.launch" />
	<include file="$(find turtlebotcity_maps)/launch/move_base.launch" />

	<include file="$(find turtlebotcity_gazebo)/launch/display.launch" />

	<node pkg="turtlebotcity_maps" name="MapChanger.py" type="MapChanger.py"/>

	

</launch>

