<launch>

	<node name="map_server" pkg="map_server" type="map_server" args="$(find turtlebotcity_maps)/maps/localization_map.yaml" />

	<!-- <node name="map_server2" pkg="map_server" type="map_server" args="$(find turtlebotcity_maps)/maps/turtlebot_city_up_right.yaml" />
		<remap from="map" to="planner_map"/> -->

	<include file="$(find turtlebotcity_maps)/launch/amcl.launch" />
	<include file="$(find turtlebotcity_maps)/launch/move_base.launch" />
	
	<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ebot_nav)/config/my.rviz" output = "screen"/> -->

</launch>

